<div>
    <h3>Details</h3>
    <p data-ng-bind-template="Name: {{$ctrl.current.settings.name}}"></p>
    <p data-ng-bind-template="Category: {{$ctrl.current.settings.category}}"></p>
    <p data-ng-bind-template="Author: {{$ctrl.current.settings.author}}"></p>
    <p data-ng-bind-template="Date: {{$ctrl.current.settings.date | date : 'MMM d, y h:mm a'}}"></p>
</div>
<div>
    <h3>VCO 1</h3>
    <p data-ng-bind-template="Course: {{$ctrl.current.vco1.course}}"></p>
    <p data-ng-bind-template="Fine: {{$ctrl.current.vco1.fine}}"></p>
    <p data-ng-bind-template="KYBD: {{$ctrl.current.vco1.kybd}}"></p>
    <p data-ng-bind-template="FM 1 Amount: {{$ctrl.current.vco1.fm1Amt}}"></p>
    <p data-ng-bind-template="FM 1 Source: {{$ctrl.current.vco1.fm1Src}}"></p>
    <p data-ng-bind-template="FM 2 Amount: {{$ctrl.current.vco1.fm2Amt}}"></p>
    <p data-ng-bind-template="FM 2 Source: {{$ctrl.current.vco1.fm2Src}}"></p>
    <p data-ng-bind-template="PWM Width: {{$ctrl.current.vco1.width}}"></p>
    <p data-ng-bind-template="PWM Mod: {{$ctrl.current.vco1.mod}}"></p>
    <p data-ng-bind-template="PWM Source: {{$ctrl.current.vco1.pwSrc}}"></p>
</div>
<div>
    <h3>VCO 2</h3>
    <p data-ng-bind-template="Course: {{$ctrl.current.vco2.course}}"></p>
    <p data-ng-bind-template="Fine: {{$ctrl.current.vco2.fine}}"></p>
    <p data-ng-bind-template="SYNC: {{$ctrl.current.vco2.sync}}"></p>
    <p data-ng-bind-template="FM 1 Amount: {{$ctrl.current.vco2.fm1Amt}}"></p>
    <p data-ng-bind-template="FM 1 Source: {{$ctrl.current.vco2.fm1Src}}"></p>
    <p data-ng-bind-template="FM 2 Amount: {{$ctrl.current.vco2.fm2Amt}}"></p>
    <p data-ng-bind-template="FM 2 Source: {{$ctrl.current.vco2.fm2Src}}"></p>
    <p data-ng-bind-template="PWM Width: {{$ctrl.current.vco2.width}}"></p>
    <p data-ng-bind-template="PWM Mod: {{$ctrl.current.vco2.mod}}"></p>
    <p data-ng-bind-template="PWM Source: {{$ctrl.current.vco2.pwSrc}}"></p>
</div>
<div>
    <h3>LFO</h3>
    <p data-ng-bind-template="Frequency: {{$ctrl.current.lfoFreq}}"></p>
</div>
<div>
    <h3>S/H Mixer</h3>
    <p data-ng-bind-template="Source 1: {{$ctrl.current.sHold.mx1Src}}"></p>
    <p data-ng-bind-template="Amount 1: {{$ctrl.current.sHold.mx1Amt}}"></p>
    <p data-ng-bind-template="Source 2: {{$ctrl.current.sHold.mx2Src}}"></p>
    <p data-ng-bind-template="Amount 2: {{$ctrl.current.sHold.mx2Amt}}"></p>
</div>
<div>
    <h3>Sample/Hold</h3>
    <p data-ng-bind-template="Source: {{$ctrl.current.sHold.trigSrc}}"></p>
    <p data-ng-bind-template="Output Lag: {{$ctrl.current.sHold.lag}}"></p>
</div>