/* App */

app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* App Header */

app-header {
    background: $base;
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 20px;

    button {
        box-shadow: inset 0 3px 0 white, inset 0 -3px 0 white;
        width: 24px;
        height: 19px;
        margin-right: 20px;
        position: relative;

        &:before {
            background: white;
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            top: 8px;
            left: 0;
        }
    }
}

/* App Main */

app-main {
    display: flex;
    flex-grow: 1;
}

@media (max-width: $mobile-max) {

    app-main {
        flex-direction: column;
    }

}

/* App Menu */

app-menu {
    background: $base-lighter;

    h2, a, span {
        background: $base;
        display: flex;
        align-items: center;
        height: 54px;
        padding: 0 20px;
    }

    h2 {
        background: $base-lightest;
    }

    li {

        &:nth-child(n+2) {
            margin-top: 1px;
        }
    }

    span {
        color: $base-lightest;
        cursor: not-allowed;
    }
}

devices {

    a.current {
        background: $accent-secondary;
    }
}

patches {

    a.current {
        background: $accent-primary;
    }
}

@media (min-width: $tablet) {

    app-menu {
        width: 320px;
        transition: width 500ms;
        white-space: nowrap;

        &.hide {
            width: 0;
        }
    }

}

/* App Content */

app-content {
    background: $base-dark;
    flex: 1;
    overflow-x: auto;
}

/* App Footer */

app-footer {
    background: $base-light;
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 20px;
    font-size: 12px;

    p {

        &:nth-child(2) {
            color: $accent-neutral;
            margin-left: 8px;
        }

        &:nth-child(3) {
            margin-left: auto;
        }
    }
}

/* Device Main */

@media (min-width: $tablet) {

    device-main {
        display: flex;
        overflow-x: auto;
    }

}