arp-odyssey {

    span {

        &.rz-bubble, &.rz-bar.rz-selection {
            opacity: 0;
            transition: opacity 250ms;
        }
    }

    .show-selections {

        span.rz-bar.rz-selection {
            opacity: 1;
        }
    }

    .show-labels {

        span.rz-bubble {
            opacity: 1;
        }
    }

    h4 {
        width: 94px;
        line-height: 1;
        font-size: 12px;
        text-align: center;
    }
}

ao-vco-one, ao-vco-two {
    display: flex;
    flex-direction: column;
    padding: 26px 0;

    h2 {
        background: $accent-secondary;
        min-width: 136px;
        line-height: 1.4;
        margin: 20px auto 20px 26px;
        padding: 8px 0;
        order: 2;
        text-align: center;
    }

    h3 {
        width: 50%;
        padding-right: 50%;
        text-align: center;

        &.fm {
            order: 3;
        }

        &.pw {
            order: 1;
            padding: 0 0 0 50%;
        }
    }

    h4 {
        margin: 4px 0 10px;
    }
}

ao-lfo-sh {
    display: flex;
    flex-direction: column;
    padding: 26px 0;

    h2 {
        font-size: 0;
    }

    h3 {
        background: $accent-secondary;
        box-sizing: border-box;
        width: calc(50% - 52px);
        min-width: 136px;
        height: 92px;
        line-height: 1.4;
        margin: 20px 26px;
        padding-top: 27px;
        text-align: center;
        order: 1;

        &.lfo {
            padding-top: 17px;
        }
    }

    h4 {
        margin-bottom: 10px;
        opacity: 0;

        &.fq, &.lg {
            opacity: 1;
        }
    }
}

@media (max-width: $mobile-max) {

    ao-vco-one, ao-vco-two {
        overflow-x: auto;

        h2 {
            margin-right: calc(50% + 26px);
        }
    }

    ao-lfo-sh {
        overflow-x: auto;
    }

}

ao-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 376px;

    &.top {
        order: 1;

        &:after {
            content: '';
            width: 94px;
            order: 2;
        }
    }

    &.btm {
        order: 3;
    }
}

@media (min-width: $tablet) {

    ao-group {
        width: 376px;
    }

}

ao-item {
    order: 2;

    &.fine {

        li.rz-tick {

            &:nth-of-type(2n+1) {
                visibility: hidden; // This should be replaced with ticksArray option in rz-slider.
            }
        }
    }

    &[class^="fm"] {

        h4 {
            opacity: 0;
        }
    }

    div.rz-vertical {
        height: 180px;
        margin: 0 26px;
    }

    label.switch {
        width: 42px;
        margin: 0 26px;
    }
}

ao-details {
    display: block;
    padding: 28px;
}