/* Colors */

$base: #383838;
$base-dark: #323232;
$base-darker: #2e2e2e;
$base-darkest: #282828;
$base-light: #424242;
$base-lighter: #4d4d4d;
$base-lightest: #646464;

$accent-primary: #23a4c7;
$accent-secondary: #dc5b38;
$accent-tertiary: #7bb320;
$accent-neutral: #a1a1a1;