/* Device Header */

device-header {
    background: $base-light;
    display: flex;
    position: relative;
}

@media (max-width: $mobile-max) {

    device-header {
        flex-direction: column;
    }

}

@media (min-width: $tablet) {

    device-header {
        height: 108px;
    }

}

device-heading {
    margin: 23px 20px;

    h1 {
        font-size: 36px;
        line-height: 37px;
        margin: -1px 0 5px;
        
        span {
            
            &:last-child {
                color: $accent-secondary;
            }
        }
    }

    p {
        
        span {
            
            &:last-child {
                color: $accent-neutral;
            }
        }
    }
}

@media (min-width: $tablet) {

    device-heading {
        width: calc(100% - 300px);
        margin: 23px 28px;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;

        &:after {
            background: linear-gradient(to right,  rgba(66,66,66,0) 0%,rgba(66,66,66,1) 100%);
            content: '';
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

}

/* Device Menu */

device-menu {
    display: flex;

    button {
        background: $base-dark;
        height: 54px;
        line-height: 1.25;
        font-size: 12px;
        flex: 1;
        transition: background 250ms;

        &:nth-child(n+2) {
            margin-left: 1px;
        }

        &.active {

            &.levels {
                background: $accent-secondary;
            }

            &.values {
                background: $accent-primary;
            }
        }

        &.save {
            background: $accent-tertiary;
        }
    }
}

@media (max-width: $mobile-max) {

    device-menu {
        padding-bottom: 1px;
    }

}

@media (min-width: $tablet) {

    device-menu {
        margin: 0 20px 0 auto;

        button {
            width: 68px;
            height: 68px;
            margin: auto;

            &:nth-child(n+2) {
                margin-left: 10px;
            }
        }
    }

}