/* Font Faces */

$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-regular: 'Tex Gyre Heros Regular', $font-stack;
$font-regular-italic: 'Tex Gyre Heros Italic', $font-stack;
$font-bold: 'Tex Gyre Heros Bold', $font-stack;
$font-bold-italic: 'Tex Gyre Heros Bold Italic', $font-stack;

$font-condensed-regular: 'Tex Gyre Heros Condensed Regular', $font-stack;
$font-condensed-regular-italic: 'Tex Gyre Heros Condensed Italic', $font-stack;
$font-condensed-bold: 'Tex Gyre Heros Condensed Bold', $font-stack;
$font-condensed-bold-italic: 'Tex Gyre Heros Condensed Bold Italic', $font-stack;

/* Tex Gyre Heros */

@font-face {
    font-family: 'Tex Gyre Heros Regular';
    src: url('/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.eot');
    src: url('/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros Italic';
    src: url('/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.eot');
    src: url('/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.svg#texgyreherositalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros Bold';
    src: url('/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.eot');
    src: url('/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros Bold Italic';
    src: url('/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.eot');
    src: url('/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.svg#texgyreherosbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Tex Gyre Heros Condensed */

@font-face {
    font-family: 'Tex Gyre Heros Condensed Regular';
    src: url('/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.eot');
    src: url('/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.svg#texgyreheroscnregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros Condensed Italic';
    src: url('/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.eot');
    src: url('/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.svg#texgyreheroscnitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros Condensed Bold';
    src: url('/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.eot');
    src: url('/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.svg#texgyreheroscnbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tex Gyre Heros Condensed Bold Italic';
    src: url('/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.eot');
    src: url('/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.svg#texgyreheroscnbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}