/* Globals */

* {
    background: none;
    border: 0;
    color: white;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    list-style: none;
    text-decoration: none;
}

body {
    background: $base;
    font: 87.5% / 1.5 $font-regular;
    min-width: $mobile;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

/* Visually Hidden */

.aria-only {
    position: absolute;
    left: -999em;
    opacity: 0;
}

/* Focus */

:focus {
    outline: 1px dotted white;
}