/* Horizontal Slider */

div.rzslider {
    width: 100%;
    height: 42px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
    span {
        position: absolute;
        font-size: 12px;
        z-index: 1;
    }
}

div { // Do we need this?
    
    &.rz-base {
        width: 100%;
        height: 100%;
    }
}

span {
    
    &.rz-bar-wrapper {
        width: 100%;
        height: 100%;
        
        &.rz-draggable {
            cursor: move;
        }
    }
    
    &.rz-bar {
        background: #2e2e2e;
        border-radius: 5px;
        width: 100%;
        height: 10px;
        top: calc(50% - 5px);
        
        &.rz-selection {
            background: #e25c2e;
        }
    }
    
    &.rz-pointer {
        background: #282828;
        border-radius: 4px/18px;
        box-shadow: 0 4px 0 rgba(#282828, 0.5);
        cursor: pointer;
        width: 26px;
        height: 36px;
        margin: 3px 0;
        transition: background 250ms;
        
        &:before {
            border-top: 4px solid #fff;
            border-bottom: 4px solid #fff;
            content: '';
            width: 2px;
            height: 28px;
            position: absolute;
            top: 0;
            left: 12px;
        }
        
        &:after {
            background: #fff;
            content: '';
            width: 26px;
            height: 4px;
            position: absolute;
            top: 16px;
        }
        
        &.rz-active {
            background: #646464;
        }
    }
    
    &.rz-bubble {
        background: #00a3ca;
        cursor: default;
        width: 40px;
        top: -24px;
        text-align: center;
        
        &.rz-limit {
            top: -20px;
            background: none;
        }
        
        &.rz-floor {
            transform: translate(-7px, 0);
        }
        
        &.rz-ceil {
            transform: translate(7px, 0);
        }
    }
    
    &.rz-tick-legend {
        line-height: 1;
        text-align: center;
        transform: translate(-50%, 37px);
    }
}

ul.rz-ticks {
    display: flex;
    height: 100%;
    margin: 0 12px;
    list-style: none;
    justify-content: space-between;
}

li.rz-tick {
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    width: 2px;
    height: 22px;
    position: relative;
    z-index: 0;
}

/* Vertical Slider */

div.rz-vertical {
    display: inline-block;
    width: 42px;
    height: 100%;
    min-height: 180px; // Temp
    margin-right: 52px; // Temp
    vertical-align: top;
    
    span {
        
        &.rz-bar {
            width: 10px;
            height: 100%;
            top: auto;
            left: calc(50% - 5px);
        }
        
        &.rz-pointer {
            border-radius: 18px/4px;
            width: 36px;
            height: 26px;
            margin: 0 3px;
            
            &:before {
                border: 0;
                border-right: 4px solid #fff;
                border-left: 4px solid #fff;
                width: 28px;
                height: 2px;
                top: 12px;
                left: 0;
            }
            
            &:after {
                width: 4px;
                height: 26px;
                top: 0;
                left: 16px;
            }
        }
        
        &.rz-bubble {
            top: auto;
            left: 48px;

            &.rz-floor {
                transform: translate(0, -4px);
                text-align: left;
            }

            &.rz-ceil {
                transform: translate(0, 4px);
                text-align: left;
            }
        }

        &.rz-tick-legend {
            transform: translate(38px, calc(-50% + 1px));
        }
    }
    
    ul.rz-ticks {
        width: 100%;
        height: calc(100% - 24px);
        margin: 12px 0;
        position: absolute;
        flex-direction: column-reverse;
    }
    
    li.rz-tick {
        border: 0;
        border-right: 10px solid #fff;
        border-left: 10px solid #fff;
        width: 22px;
        height: 2px;
    }
}