/* Switch */

label.switch {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        position: absolute;
        left: -999em;
        opacity: 0;
    }

    span {

        &.switch-text {
            line-height: 1;
            font-size: 12px;
            text-align: center;

            em {
                display: block;
                margin-bottom: -8px;
                font-size: 14px;
                font-style: normal;
            }
        }

        &.switch-item {
            background: $base-darker;
            width: 24px;
            height: 23px;
        }
    }

    &.top {

        span {

            &.switch-item {
                margin-top: 9px;
                
                &:after {
                    background-image: linear-gradient(to bottom,  $base-light 50%, $base-darker 50%);
                    background-size: 100% 4px;
                    box-shadow: 0 -4px 0 $base-darkest;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 18px;
                    margin: 26px 2px 2px;
                    position: relative;
                    transition: margin 250ms;
                    pointer-events: none;
                }
            }
        }

        :checked {

            + span {

                &.switch-item {

                    &:after {
                        box-shadow: 0 4px 0 $base-darkest;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    &.btm {

        span {

            &.switch-item {
                margin-bottom: 8px;
            }

            &.switch-text {
                order: 2;
            }
        }
    }

    :focus {

        + span {

            &.switch-item {
                outline: 1px dotted white;
            }
        }
    }
}