<p>Copyright &copy;2016 - <span data-ng-bind="$ctrl.year"></span> <a href="http://www.reyescult.com" target="_blank">Reyescult Digital Media Design</a>. All Rights Reserved.</p>
<p>* All other trademarks mentioned are the copyright of their respective owners.</p>
<p>* This site uses local storage for preset memory.</p>