<h2>LFO, SAMPLE AND HOLD</h2>
<ao-group class="top">
    <h3 class="lfo">LFO<br>FREQUENCY<br>OSCILLATOR</h3>
    <ao-item class="lfo">
        <h4 class="fq">LFO<br>FREQ</h4>
        <rzslider rz-slider-model="$ctrl.current.lfoFreq" rz-slider-options="$ctrl.freq"></rzslider>
    </ao-item>
</ao-group>
<ao-group class="btm">
    <h3 class="shm">S/H<br>MIXER</h3>
    <ao-item class="sh1">
        <h4 class="sh">S/H<br>1</h4>
        <rzslider rz-slider-model="$ctrl.current.sHold.mx1Amt" rz-slider-options="$ctrl.mod"></rzslider>
        <label for="sh-mx1-saw" class="switch top">
            <span class="switch-text">VCO-1<br>SAW</span>
            <input type="radio" name="sh-mx1-src" id="sh-mx1-saw" value="VCO-1 SAW" data-ng-model="$ctrl.current.sHold.mx1Src">
            <span class="switch-item"></span>
        </label>
        <label for="sh-mx1-sqr" class="switch btm">
            <span class="switch-text">VCO-1<br>SQUARE</span>
            <input type="radio" name="sh-mx1-src" id="sh-mx1-sqr" value="VCO-1 SQUARE" data-ng-model="$ctrl.current.sHold.mx1Src">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <ao-item class="sh2">
        <h4 class="sh">S/H<br>2</h4>
        <rzslider rz-slider-model="$ctrl.current.sHold.mx2Amt" rz-slider-options="$ctrl.mod"></rzslider>
        <label for="sh-mx2-noise" class="switch top">
            <span class="switch-text">NOISE<br>GEN</span>
            <input type="radio" name="sh-mx2-src" id="sh-mx2-noise" value="NOISE GEN" data-ng-model="$ctrl.current.sHold.mx2Src">
            <span class="switch-item"></span>
        </label>
        <label for="sh-mx2-sqr" class="switch btm">
            <span class="switch-text">VCO-2<br>SQUARE</span>
            <input type="radio" name="sh-mx2-src" id="sh-mx2-sqr" value="VCO-2 SQUARE" data-ng-model="$ctrl.current.sHold.mx2Src">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <h3 class="sh">SAMPLE/<br>HOLD</h3>
    <ao-item class="trig">
        <h4>TRIG</h4>
        <label for="sh-trig-lfo" class="switch top">
            <span class="switch-text">LFO<br>TRIG</span>
            <input type="radio" name="sh-trig-src" id="sh-trig-lfo" value="LFO TRIG" data-ng-model="$ctrl.current.sHold.trigSrc">
            <span class="switch-item"></span>
        </label>
        <label for="sh-trig-kybd" class="switch btm">
            <span class="switch-text">KYBD<br>TRIG</span>
            <input type="radio" name="sh-trig-src" id="sh-trig-kybd" value="KYBD TRIG" data-ng-model="$ctrl.current.sHold.trigSrc">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <ao-item class="lag">
        <h4 class="lg">OUTPUT<br>LAG</h4>
        <rzslider rz-slider-model="$ctrl.current.sHold.lag" rz-slider-options="$ctrl.mod"></rzslider>
    </ao-item>
</ao-group>