<app-header menu-state="$ctrl.menuState" set-menu-state="$ctrl.setMenuState"></app-header>
<app-main>
    <app-menu data-ng-class="$ctrl.menuState"></app-menu>
    <app-content ng-view></app-content>
</app-main>
<app-footer></app-footer>