<h2>Patches</h2>
<ul>
    <li data-ng-repeat="patch in $ctrl.patches">
        <a href="javascript:void(0);" data-ng-class="{'current' : patch.settings.name === $ctrl.current.settings.name}" data-ng-click="$ctrl.setCurrent($index)" data-ng-bind="patch.settings.name"></a>
    </li>
</ul>