/* App Partials */
/* Breakpoints */
/* Colors */
/* Font Faces */
/* Tex Gyre Heros */
@font-face {
  font-family: 'Tex Gyre Heros Regular';
  src: url("/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.eot");
  src: url("/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.woff") format("woff"), url("/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheros_regular_macroman/texgyreheros-regular-webfont.svg#texgyreherosregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tex Gyre Heros Italic';
  src: url("/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.eot");
  src: url("/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.woff") format("woff"), url("/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheros_italic_macroman/texgyreheros-italic-webfont.svg#texgyreherositalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tex Gyre Heros Bold';
  src: url("/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.eot");
  src: url("/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.woff") format("woff"), url("/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheros_bold_macroman/texgyreheros-bold-webfont.svg#texgyreherosbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tex Gyre Heros Bold Italic';
  src: url("/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.eot");
  src: url("/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheros_bolditalic_macroman/texgyreheros-bolditalic-webfont.svg#texgyreherosbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Tex Gyre Heros Condensed */
@font-face {
  font-family: 'Tex Gyre Heros Condensed Regular';
  src: url("/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.eot");
  src: url("/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.woff") format("woff"), url("/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheroscn_regular_macroman/texgyreheroscn-regular-webfont.svg#texgyreheroscnregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tex Gyre Heros Condensed Italic';
  src: url("/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.eot");
  src: url("/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.woff") format("woff"), url("/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheroscn_italic_macroman/texgyreheroscn-italic-webfont.svg#texgyreheroscnitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tex Gyre Heros Condensed Bold';
  src: url("/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.eot");
  src: url("/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.woff") format("woff"), url("/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheroscn_bold_macroman/texgyreheroscn-bold-webfont.svg#texgyreheroscnbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tex Gyre Heros Condensed Bold Italic';
  src: url("/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.eot");
  src: url("/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/texgyreheroscn_bolditalic_macroman/texgyreheroscn-bolditalic-webfont.svg#texgyreheroscnbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Globals */
* {
  background: none;
  border: 0;
  color: white;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  list-style: none;
  text-decoration: none; }

body {
  background: #383838;
  font: 87.5%/1.5 "Tex Gyre Heros Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 320px; }

button {
  cursor: pointer; }
  button:disabled {
    cursor: not-allowed; }

/* Visually Hidden */
.aria-only {
  position: absolute;
  left: -999em;
  opacity: 0; }

/* Focus */
:focus {
  outline: 1px dotted white; }

/* App */
app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/* App Header */
app-header {
  background: #383838;
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 20px; }
  app-header button {
    box-shadow: inset 0 3px 0 white, inset 0 -3px 0 white;
    width: 24px;
    height: 19px;
    margin-right: 20px;
    position: relative; }
    app-header button:before {
      background: white;
      content: '';
      width: 100%;
      height: 3px;
      position: absolute;
      top: 8px;
      left: 0; }

/* App Main */
app-main {
  display: flex;
  flex-grow: 1; }

@media (max-width: 767px) {
  app-main {
    flex-direction: column; } }

/* App Menu */
app-menu {
  background: #4d4d4d; }
  app-menu h2, app-menu a, app-menu span {
    background: #383838;
    display: flex;
    align-items: center;
    height: 54px;
    padding: 0 20px; }
  app-menu h2 {
    background: #646464; }
  app-menu li:nth-child(n+2) {
    margin-top: 1px; }
  app-menu span {
    color: #646464;
    cursor: not-allowed; }

devices a.current {
  background: #dc5b38; }

patches a.current {
  background: #23a4c7; }

@media (min-width: 768px) {
  app-menu {
    width: 320px;
    transition: width 500ms;
    white-space: nowrap; }
    app-menu.hide {
      width: 0; } }

/* App Content */
app-content {
  background: #323232;
  flex: 1;
  overflow-x: auto; }

/* App Footer */
app-footer {
  background: #424242;
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 20px;
  font-size: 12px; }
  app-footer p:nth-child(2) {
    color: #a1a1a1;
    margin-left: 8px; }
  app-footer p:nth-child(3) {
    margin-left: auto; }

/* Device Main */
@media (min-width: 768px) {
  device-main {
    display: flex;
    overflow-x: auto; } }

/* Device Header */
device-header {
  background: #424242;
  display: flex;
  position: relative; }

@media (max-width: 767px) {
  device-header {
    flex-direction: column; } }

@media (min-width: 768px) {
  device-header {
    height: 108px; } }

device-heading {
  margin: 23px 20px; }
  device-heading h1 {
    font-size: 36px;
    line-height: 37px;
    margin: -1px 0 5px; }
    device-heading h1 span:last-child {
      color: #dc5b38; }
  device-heading p span:last-child {
    color: #a1a1a1; }

@media (min-width: 768px) {
  device-heading {
    width: calc(100% - 300px);
    margin: 23px 28px;
    position: absolute;
    overflow: hidden;
    white-space: nowrap; }
    device-heading:after {
      background: linear-gradient(to right, rgba(66, 66, 66, 0) 0%, #424242 100%);
      content: '';
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0; } }

/* Device Menu */
device-menu {
  display: flex; }
  device-menu button {
    background: #323232;
    height: 54px;
    line-height: 1.25;
    font-size: 12px;
    flex: 1;
    transition: background 250ms; }
    device-menu button:nth-child(n+2) {
      margin-left: 1px; }
    device-menu button.active.levels {
      background: #dc5b38; }
    device-menu button.active.values {
      background: #23a4c7; }
    device-menu button.save {
      background: #7bb320; }

@media (max-width: 767px) {
  device-menu {
    padding-bottom: 1px; } }

@media (min-width: 768px) {
  device-menu {
    margin: 0 20px 0 auto; }
    device-menu button {
      width: 68px;
      height: 68px;
      margin: auto; }
      device-menu button:nth-child(n+2) {
        margin-left: 10px; } }

/* Horizontal Slider */
div.rzslider {
  width: 100%;
  height: 42px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  div.rzslider span {
    position: absolute;
    font-size: 12px;
    z-index: 1; }

div.rz-base {
  width: 100%;
  height: 100%; }

span.rz-bar-wrapper {
  width: 100%;
  height: 100%; }
  span.rz-bar-wrapper.rz-draggable {
    cursor: move; }

span.rz-bar {
  background: #2e2e2e;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  top: calc(50% - 5px); }
  span.rz-bar.rz-selection {
    background: #e25c2e; }

span.rz-pointer {
  background: #282828;
  border-radius: 4px/18px;
  box-shadow: 0 4px 0 rgba(40, 40, 40, 0.5);
  cursor: pointer;
  width: 26px;
  height: 36px;
  margin: 3px 0;
  transition: background 250ms; }
  span.rz-pointer:before {
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    content: '';
    width: 2px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 12px; }
  span.rz-pointer:after {
    background: #fff;
    content: '';
    width: 26px;
    height: 4px;
    position: absolute;
    top: 16px; }
  span.rz-pointer.rz-active {
    background: #646464; }

span.rz-bubble {
  background: #00a3ca;
  cursor: default;
  width: 40px;
  top: -24px;
  text-align: center; }
  span.rz-bubble.rz-limit {
    top: -20px;
    background: none; }
  span.rz-bubble.rz-floor {
    transform: translate(-7px, 0); }
  span.rz-bubble.rz-ceil {
    transform: translate(7px, 0); }

span.rz-tick-legend {
  line-height: 1;
  text-align: center;
  transform: translate(-50%, 37px); }

ul.rz-ticks {
  display: flex;
  height: 100%;
  margin: 0 12px;
  list-style: none;
  justify-content: space-between; }

li.rz-tick {
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  width: 2px;
  height: 22px;
  position: relative;
  z-index: 0; }

/* Vertical Slider */
div.rz-vertical {
  display: inline-block;
  width: 42px;
  height: 100%;
  min-height: 180px;
  margin-right: 52px;
  vertical-align: top; }
  div.rz-vertical span.rz-bar {
    width: 10px;
    height: 100%;
    top: auto;
    left: calc(50% - 5px); }
  div.rz-vertical span.rz-pointer {
    border-radius: 18px/4px;
    width: 36px;
    height: 26px;
    margin: 0 3px; }
    div.rz-vertical span.rz-pointer:before {
      border: 0;
      border-right: 4px solid #fff;
      border-left: 4px solid #fff;
      width: 28px;
      height: 2px;
      top: 12px;
      left: 0; }
    div.rz-vertical span.rz-pointer:after {
      width: 4px;
      height: 26px;
      top: 0;
      left: 16px; }
  div.rz-vertical span.rz-bubble {
    top: auto;
    left: 48px; }
    div.rz-vertical span.rz-bubble.rz-floor {
      transform: translate(0, -4px);
      text-align: left; }
    div.rz-vertical span.rz-bubble.rz-ceil {
      transform: translate(0, 4px);
      text-align: left; }
  div.rz-vertical span.rz-tick-legend {
    transform: translate(38px, calc(-50% + 1px)); }
  div.rz-vertical ul.rz-ticks {
    width: 100%;
    height: calc(100% - 24px);
    margin: 12px 0;
    position: absolute;
    flex-direction: column-reverse; }
  div.rz-vertical li.rz-tick {
    border: 0;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    width: 22px;
    height: 2px; }

/* Switch */
label.switch {
  display: flex;
  flex-direction: column;
  align-items: center; }
  label.switch input {
    position: absolute;
    left: -999em;
    opacity: 0; }
  label.switch span.switch-text {
    line-height: 1;
    font-size: 12px;
    text-align: center; }
    label.switch span.switch-text em {
      display: block;
      margin-bottom: -8px;
      font-size: 14px;
      font-style: normal; }
  label.switch span.switch-item {
    background: #2e2e2e;
    width: 24px;
    height: 23px; }
  label.switch.top span.switch-item {
    margin-top: 9px; }
    label.switch.top span.switch-item:after {
      background-image: linear-gradient(to bottom, #424242 50%, #2e2e2e 50%);
      background-size: 100% 4px;
      box-shadow: 0 -4px 0 #282828;
      content: '';
      display: block;
      width: 20px;
      height: 18px;
      margin: 26px 2px 2px;
      position: relative;
      transition: margin 250ms;
      pointer-events: none; }
  label.switch.top :checked + span.switch-item:after {
    box-shadow: 0 4px 0 #282828;
    margin-top: 2px; }
  label.switch.btm span.switch-item {
    margin-bottom: 8px; }
  label.switch.btm span.switch-text {
    order: 2; }
  label.switch :focus + span.switch-item {
    outline: 1px dotted white; }

/* Device Partials */
arp-odyssey span.rz-bubble, arp-odyssey span.rz-bar.rz-selection {
  opacity: 0;
  transition: opacity 250ms; }

arp-odyssey .show-selections span.rz-bar.rz-selection {
  opacity: 1; }

arp-odyssey .show-labels span.rz-bubble {
  opacity: 1; }

arp-odyssey h4 {
  width: 94px;
  line-height: 1;
  font-size: 12px;
  text-align: center; }

ao-vco-one, ao-vco-two {
  display: flex;
  flex-direction: column;
  padding: 26px 0; }
  ao-vco-one h2, ao-vco-two h2 {
    background: #dc5b38;
    min-width: 136px;
    line-height: 1.4;
    margin: 20px auto 20px 26px;
    padding: 8px 0;
    order: 2;
    text-align: center; }
  ao-vco-one h3, ao-vco-two h3 {
    width: 50%;
    padding-right: 50%;
    text-align: center; }
    ao-vco-one h3.fm, ao-vco-two h3.fm {
      order: 3; }
    ao-vco-one h3.pw, ao-vco-two h3.pw {
      order: 1;
      padding: 0 0 0 50%; }
  ao-vco-one h4, ao-vco-two h4 {
    margin: 4px 0 10px; }

ao-lfo-sh {
  display: flex;
  flex-direction: column;
  padding: 26px 0; }
  ao-lfo-sh h2 {
    font-size: 0; }
  ao-lfo-sh h3 {
    background: #dc5b38;
    box-sizing: border-box;
    width: calc(50% - 52px);
    min-width: 136px;
    height: 92px;
    line-height: 1.4;
    margin: 20px 26px;
    padding-top: 27px;
    text-align: center;
    order: 1; }
    ao-lfo-sh h3.lfo {
      padding-top: 17px; }
  ao-lfo-sh h4 {
    margin-bottom: 10px;
    opacity: 0; }
    ao-lfo-sh h4.fq, ao-lfo-sh h4.lg {
      opacity: 1; }

@media (max-width: 767px) {
  ao-vco-one, ao-vco-two {
    overflow-x: auto; }
    ao-vco-one h2, ao-vco-two h2 {
      margin-right: calc(50% + 26px); }
  ao-lfo-sh {
    overflow-x: auto; } }

ao-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 376px; }
  ao-group.top {
    order: 1; }
    ao-group.top:after {
      content: '';
      width: 94px;
      order: 2; }
  ao-group.btm {
    order: 3; }

@media (min-width: 768px) {
  ao-group {
    width: 376px; } }

ao-item {
  order: 2; }
  ao-item.fine li.rz-tick:nth-of-type(2n+1) {
    visibility: hidden; }
  ao-item[class^="fm"] h4 {
    opacity: 0; }
  ao-item div.rz-vertical {
    height: 180px;
    margin: 0 26px; }
  ao-item label.switch {
    width: 42px;
    margin: 0 26px; }

ao-details {
  display: block;
  padding: 28px; }
