<device-header device="$ctrl.device" current="$ctrl.editObj"></device-header>
<device-main>
    <ao-vco-one current="$ctrl.editObj" data-ng-class="{'show-selections' : $ctrl.showSelections, 'show-labels' : $ctrl.showLabels}"></ao-vco-one>
    <ao-vco-two current="$ctrl.editObj" data-ng-class="{'show-selections' : $ctrl.showSelections, 'show-labels' : $ctrl.showLabels}"></ao-vco-two>
    <ao-lfo-sh current="$ctrl.editObj" data-ng-class="{'show-selections' : $ctrl.showSelections, 'show-labels' : $ctrl.showLabels}"></ao-lfo-sh>
</device-main>
<ao-details current="$ctrl.editObj"></ao-details>