<h2>VOLTAGE<br>CONTROLLED<br>OSCILLATOR<br>2</h2>
<ao-group class="top">
    <h3 class="fq">FREQUENCY</h3>
    <ao-item class="course">
        <h4>COURSE</h4>
        <rzslider rz-slider-model="$ctrl.current.vco2.course" rz-slider-options="$ctrl.course"></rzslider>
    </ao-item>
    <ao-item class="fine">
        <h4>FINE</h4>
        <rzslider rz-slider-model="$ctrl.current.vco2.fine" rz-slider-options="$ctrl.fine"></rzslider>
    </ao-item>
    <ao-item class="sync">
        <h4 class="aria-only">SYNC</h4>
        <label for="vco2-sync-off" class="switch top">
            <span class="switch-text">SYNC<br>OFF</span>
            <input type="radio" name="vco2-sync" id="vco2-sync-off" value="OFF" data-ng-model="$ctrl.current.vco2.sync">
            <span class="switch-item"></span>
        </label>
        <label for="vco2-sync-on" class="switch btm">
            <span class="switch-text">ON</span>
            <input type="radio" name="vco2-sync" id="vco2-sync-on" value="ON" data-ng-model="$ctrl.current.vco2.sync">
            <span class="switch-item"></span>
        </label>
    </ao-item>
</ao-group>
<ao-group class="btm">
    <h3 class="fm">FM</h3>
    <ao-item class="fm1">
        <h4>FM 1</h4>
        <rzslider rz-slider-model="$ctrl.current.vco2.fm1Amt" rz-slider-options="$ctrl.mod"></rzslider>
        <label for="vco2-fm1-lfo" class="switch top">
            <span class="switch-text">LFO</span>
            <input type="radio" name="vco2-fm1-src" id="vco2-fm1-lfo" value="LFO" data-ng-model="$ctrl.current.vco2.fm1Src">
            <span class="switch-item"></span>
        </label>
        <label for="vco2-fm1-sh" class="switch btm">
            <span class="switch-text">S/H<br>MIXER<br>OR<br>PEDAL</span>
            <input type="radio" name="vco2-fm1-src" id="vco2-fm1-sh" value="S/H MIXER OR PEDAL" data-ng-model="$ctrl.current.vco2.fm1Src">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <ao-item class="fm2">
        <h4>FM 2</h4>
        <rzslider rz-slider-model="$ctrl.current.vco2.fm2Amt" rz-slider-options="$ctrl.mod"></rzslider>
        <label for="vco2-fm2-sh" class="switch top">
            <span class="switch-text">S/H</span>
            <input type="radio" name="vco2-fm2-src" id="vco2-fm2-sh" value="S/H" data-ng-model="$ctrl.current.vco2.fm2Src">
            <span class="switch-item"></span>
        </label>
        <label for="vco2-fm2-adsr" class="switch btm">
            <span class="switch-text">ADSR</span>
            <input type="radio" name="vco2-fm2-src" id="vco2-fm2-adsr" value="ADSR" data-ng-model="$ctrl.current.vco2.fm2Src">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <h3 class="pw">PULSE WIDTH</h3>
    <ao-item class="width">
        <h4>WIDTH</h4>
        <rzslider rz-slider-model="$ctrl.current.vco2.width" rz-slider-options="$ctrl.width"></rzslider>
    </ao-item>
    <ao-item class="mod">
        <h4>MOD</h4>
        <rzslider rz-slider-model="$ctrl.current.vco2.mod" rz-slider-options="$ctrl.mod"></rzslider>
        <label for="vco2-pw-lfo" class="switch top">
            <span class="switch-text">LFO</span>
            <input type="radio" name="vco2-pw-src" id="vco2-pw-lfo" value="LFO" data-ng-model="$ctrl.current.vco2.pwSrc">
            <span class="switch-item"></span>
        </label>
        <label for="vco2-pw-adsr" class="switch btm">
            <span class="switch-text">ADSR</span>
            <input type="radio" name="vco2-pw-src" id="vco2-pw-adsr" value="ADSR" data-ng-model="$ctrl.current.vco2.pwSrc">
            <span class="switch-item"></span>
        </label>
    </ao-item>
</ao-group>