<h2>VOLTAGE<br>CONTROLLED<br>OSCILLATOR<br>1</h2>
<ao-group class="top">
    <h3 class="fq">FREQUENCY</h3>
    <ao-item class="course">
        <h4>COURSE</h4>
        <rzslider rz-slider-model="$ctrl.current.vco1.course" rz-slider-options="$ctrl.current.vco1.kybd === 'On' ? $ctrl.courseHi : $ctrl.courseLo"></rzslider>
    </ao-item>
    <ao-item class="fine">
        <h4>FINE</h4>
        <rzslider rz-slider-model="$ctrl.current.vco1.fine" rz-slider-options="$ctrl.fine"></rzslider>
    </ao-item>
    <ao-item class="kybd">
        <h4 class="aria-only">KEYBOARD</h4>
        <label for="vco1-kybd-on" class="switch top">
            <span class="switch-text"><em>AUDIO</em><br>KYBD<br>ON</span>
            <input type="radio" name="vco1-kybd" id="vco1-kybd-on" value="On" data-ng-model="$ctrl.current.vco1.kybd" data-ng-change="$ctrl.setCourse()">
            <span class="switch-item"></span>
        </label>
        <label for="vco1-kybd-off" class="switch btm">
            <span class="switch-text"><em>LF</em><br>KYBD<br>OFF</span>
            <input type="radio" name="vco1-kybd" id="vco1-kybd-off" value="Off" data-ng-model="$ctrl.current.vco1.kybd" data-ng-change="$ctrl.setCourse()">
            <span class="switch-item"></span>
        </label>
    </ao-item>
</ao-group>
<ao-group class="btm">
    <h3 class="fm">FM</h3>
    <ao-item class="fm1">
        <h4>FM 1</h4>
        <rzslider rz-slider-model="$ctrl.current.vco1.fm1Amt" rz-slider-options="$ctrl.fm"></rzslider>
        <label for="vco1-fm1-sine" class="switch top">
            <span class="switch-text">LFO<br>Sine</span>
            <input type="radio" name="vco1-fm1-src" id="vco1-fm1-sine" value="Sine" data-ng-model="$ctrl.current.vco1.fm1Src">
            <span class="switch-item"></span>
        </label>
        <label for="vco1-fm1-square" class="switch btm">
            <span class="switch-text">LFO<br>Square</span>
            <input type="radio" name="vco1-fm1-src" id="vco1-fm1-square" value="Square" data-ng-model="$ctrl.current.vco1.fm1Src">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <ao-item class="fm2">
        <h4>FM 2</h4>
        <rzslider rz-slider-model="$ctrl.current.vco1.fm2Amt" rz-slider-options="$ctrl.fm"></rzslider>
        <label for="vco1-fm2-sh" class="switch top">
            <span class="switch-text">S/H</span>
            <input type="radio" name="vco1-fm2-src" id="vco1-fm2-sh" value="S/H" data-ng-model="$ctrl.current.vco1.fm2Src">
            <span class="switch-item"></span>
        </label>
        <label for="vco1-fm2-adsr" class="switch btm">
            <span class="switch-text">ADSR</span>
            <input type="radio" name="vco1-fm2-src" id="vco1-fm2-adsr" value="ADSR" data-ng-model="$ctrl.current.vco1.fm2Src">
            <span class="switch-item"></span>
        </label>
    </ao-item>
    <h3 class="pw">PULSE WIDTH</h3>
    <ao-item class="width">
        <h4>WIDTH</h4>
        <rzslider rz-slider-model="$ctrl.current.vco1.width" rz-slider-options="$ctrl.width"></rzslider>
    </ao-item>
    <ao-item class="mod">
        <h4>MOD</h4>
        <rzslider rz-slider-model="$ctrl.current.vco1.mod" rz-slider-options="$ctrl.mod"></rzslider>
        <label for="vco1-pw-lfo" class="switch top">
            <span class="switch-text">LFO</span>
            <input type="radio" name="vco1-pw-src" id="vco1-pw-lfo" value="LFO" data-ng-model="$ctrl.current.vco1.pwSrc">
            <span class="switch-item"></span>
        </label>
        <label for="vco1-pw-adsr" class="switch btm">
            <span class="switch-text">ADSR</span>
            <input type="radio" name="vco1-pw-src" id="vco1-pw-adsr" value="ADSR" data-ng-model="$ctrl.current.vco1.pwSrc">
            <span class="switch-item"></span>
        </label>
    </ao-item>
</ao-group>