<button type="button" class="levels" data-ng-click="$ctrl.setSelections()" data-ng-class="{'active' : $ctrl.showSelections}">Show<br>Levels</button>
<button type="button" class="values" data-ng-click="$ctrl.setLabels()" data-ng-class="{'active' : $ctrl.showLabels}">Show<br>Values</button>
<button type="button" class="save">Save<br>Patch</button>