<h2>Devices</h2>
<ul>
    <li data-ng-repeat="device in $ctrl.devices">
        <a href="#!{{device.path}}" data-ng-bind="device.name" data-ng-class="{'current' : $ctrl.current === device.path}" data-ng-if="device.enabled"></a>
        <span data-ng-bind="device.name" data-ng-if="!device.enabled"></span>
    </li>
</ul>