<device-heading>
    <h1><span data-ng-bind="$ctrl.device.brand | uppercase"></span> <span data-ng-bind="$ctrl.device.model | uppercase"></span></h1>
    <p><span data-ng-bind="$ctrl.current.settings.name"></span><span data-ng-bind-template=" - Created by {{$ctrl.current.settings.author}} on {{$ctrl.current.settings.date | date : 'MMM d, y h:mm a'}}"></span></p>
</device-heading>
<device-menu></device-menu>